{% extends 'base.html' %}

{% block title %}
Notes
{% endblock %}

{% block content %}
    {% if notes|length > 0 %}
        {% for note in notes %}
            <div class="card text-bg-info mb-3" style="max-width: 18rem;" onclick="location.href='{{ note.id }}';">
                <div class="card-header">{{ note.tag[0].text }}</div>
                <div class="card-body">
                <h5 class="card-title">{{ note.title }}</h5>
                <p class="card-text">{{ note.text }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <center><p class="fs-2">Seem's like you don't have notes yet. <a href="note/new">Write one down!</a></p></center>
    {% endif %}
{% endblock %}
